<div class="unit" >
  <div class="row">

    <div class="col-xs-4 unit-portrait">
      <%= image_tag asset_path structure[:img] %>
    </div>
    <div class="col-xs-8">
      <p class="header-medium"><%= "#{ structure[:name] }" %></p>
      <p><%= structure[:desc] %></p>
    </div>
  </div>
</div>
<hr/>
