<div class="contact-div">
  <p class="text-center">
    Feel free to contact me with feedback or suggestions at <a href="mailto:riskworldwar1@gmail.com">riskworldwar1@gmail.com</a>
  </p>

  </p>
</div>