<div class="header">
  <h1 class="header-title">Risk: World War 1</h1>
  <hr class="header-hr">
  <div class="row header-links">
    <div class="col-xs-2"></div>
    <div id="link" class="col-xs-2 full">Home</div>
    <div class="col-xs-2 full">Units</div>
    <div class="col-xs-2 full">Nations</div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2"></div>
  </div>

</div>