<div class="header">
  <h1 class="header-title">Risk: World War 1</h1>
  <hr class="header-hr">
  <div class="row header-links">
    <div class="col-xs-2"></div>

    <div class="col-xs-2 header-link link js-link-home">Home</div>

    <div class="col-xs-2 header-link link js-link-units">Units</div>

    <div class="col-xs-2 header-link link header-link-last js-link-nations">Nations</div>

    <div class="col-xs-2"></div>

    <div class="col-xs-2"></div>
  </div>

</div>