<div class="page-content-home">

  <p class="header-medium">Tactics</p>
  <p>
    When attacking, there are two general strategies, the infantry rush, and the slow advance. The charge uses a mobile army to drive quickly through enemy defenses, and capture large amounts of territory. The grind uses long range units to destroy enemy defenses from afar, advancing slowly but safely.
  </p>
  <p class="header-small">Infantry Charge</p>
  <p>You can rush with mass riflemen, using their fast speed and decent damage to punch through enemy defenses, taking as much land as possible. It's useful to bring machine guns and field guns also, to protect against enemy counter attacks. It is important to recognize when the enemy is too well defended for you to continue your attack, so you can stop and build trenches without excessive losses.
  </p>
  <p>
    Once you have researched tanks, you can use them to lead the charge. Tanks have too little damage to be useful on their own, but they are excellent for absorbing field gun and machine gun fire, thus protecting your advancing infantry from harm.
  </p>
  <p class="header-small">Defending the Infantry Charge</p>
  <P>
    When defending a charge, it is important you have lots of trenches near the front. The goal is to kill as many enemy units, as fast as possible, so having machine guns and field guns is very helpful. Enemy infantry can get in your empty trenches, so if you have some empty ones, salvage them. When the enemy attacks your line, spawn militia from your nearby cities, and counter-attack. Against small numbers of machine guns, machine guns are the most effective defense. Against large numbers however, field guns can make full use of their splash damage, and are the best choice.
  </P>
  <p class="header-small">The Slow Advance</p>
  <p>
    Sometimes your opponent has hardened their defenses, such that a charge would be suicide. In this case, you can use mortars, howitzers and railways guns to destroy enemy defenses from afar. As these units advance, you must also advance your trench line to keep them them protected.
  </p>
  <p class="header-small">Defending the Slow Advance</p>
  <p>
    When defending the slow advance, its best to have loosely spaced trenches, with lots of riflemen. Since the enemy is destroying your trenches from afar, there is no point investing in machine guns. The goal is to slow down the enemy advance as much as possible, and use your own artillery to fight back. If your opponent's artillery or mortars are ever left vulnerable, be ready to charge and destroy them with infantry. As the enemy destroys your trenches, save the men inside and bring them to a hospital. It's free to build more trenches, but it's expensive to keep replacing units.
  </p>
  <br>
</div>
