<div class="page-content-home">
  <p class="header-small">When and Where to Attack</p>
  <p>
    There are many factors in this game that give the defender an advantage; trenches, railroads, machine guns, and militia. As such, it is easy for attacks to end in disaster. Ultimately, the game comes down to resources, and wise players are careful to avoid losing units. Even if you win a battle, and capture some land, it is not necessarily worth it if you lose alot more than your opponent.
  </p>
  <p>
    Generally speaking, it is most worth while to attack wherever you think you will meet the least opposition. There is more to consider however than just taking land. One useful strategy is to capture an area which connects enemy territory. For example, Austria can capture northern Italy, preventing French and Italian forces from linking up and assisting each other. It is also an advantage to focus on one enemy until they are completely defeated (or atleast crippled), allowing you to then focus all your attention and resources on your other fronts.
  </p>
  <p>
    While it is important to go into every game with a plan of attack, it is also important to be flexible, and adjust to the moves of your opponents. For instance, it is normally good for Germany to focus on defeating either France or Russia, but this becomes difficult if they both focus all their attention on you. If this happens, (say if Austria is fighting Italy/Serbia, Bulgaria is fighting Serbia, and the Ottomans are fighting Britian), then you should forget your goal of defeating one of them, and focus on defense instead. In summary, you do not need to capture land to contribute effectively. Sometimes just defending and buying time for your allies to win elsewhere is enough.
  </p>
  <p class="header-small">How to Attack</p>
  <p>
    When attacking, there are two general strategies, the infantry charge, and the slow advance. The charge uses a mobile army to drive quickly through enemy defenses, and capture large amounts of territory. The slow advance uses long range units to destroy enemy defenses from afar, advancing slowly but safely.
  </p>
  <p class="header-small">Infantry Charge</p>
  <p>You can rush with mass riflemen, using their fast speed and decent damage to punch through enemy defenses, taking as much land as possible. It's useful to bring machine guns and field guns also, to protect against enemy counter attacks. It is important to recognize when the enemy is too well defended for you to continue your attack, so you can stop and build trenches without excessive losses.
  </p>
  <p>
    Once you have researched tanks, you can use them to lead the charge. Tanks have too little damage to be useful on their own, but they are excellent for absorbing field gun and machine gun fire, thus protecting your advancing infantry from harm.
  </p>
  <p class="header-small">Defending the Infantry Charge</p>
  <P>
    When defending a charge, it is important you have lots of trenches near the front. The goal is to kill as many enemy units, as fast as possible, so having machine guns and field guns is very helpful. Enemy infantry can get in your empty trenches, so if you have some empty ones, salvage them. When the enemy attacks your line, spawn militia from your nearby cities, and counter-attack. Against small numbers of riflmen, machine guns are the most effective defense. Against large numbers however, field guns can make full use of their splash damage, and are the best choice.
  </P>
  <p class="header-small">The Slow Advance</p>
  <p>
    Sometimes your opponent has hardened their defenses, such that a charge would be suicide. In this case, you can use mortars, howitzers and railways guns to destroy enemy defenses from afar. As these units advance, you must also advance your trench line to keep them them protected.
  </p>
  <p class="header-small">Defending the Slow Advance</p>
  <p>
    When defending the slow advance, its best to have loosely spaced trenches, with lots of riflemen. Since the enemy is destroying your trenches from afar, there is no point investing in machine guns. The goal is to slow down the enemy advance as much as possible, and use your own artillery to fight back. If your opponent's artillery or mortars are ever left vulnerable, be ready to charge and destroy them with infantry. As the enemy destroys your trenches, save the men inside and bring them to a hospital. It's free to build more trenches, but it's expensive to keep replacing units.
  </p>
  <p class="header-small">Navy</p>
  <p>
    Naval combat is secondary to land combat, as even an enormous navy can still only fight land units that are near the coast. Having said that, for coastal nations (Britain, Italy, and the Ottomans), navy can be very important. There are several benefits to dominating the sea; you can capture coastal settlements, prevent enemy landings, escort your own landings, and bombard enemy coastal units. Battleships can contribute to all of these operations, and are the core naval unit. In particular, Battleships are the best at fighting coastal troops and fortresses. The downside is that they cannot detect submarines or mines, making them very vulnerable on their own. Destroyers are inferior in all aspects, except that they are slightly faster and can detect subarines and mines.</p>
  <p>
  If your goal is to build up a navy that can terrorize enemy coastlines, getting a 50/50 mixture of destroyers and battleships is the best bet (by resources, not number of ships). If your goal is to defeat an enemy navy however, it is better to focus on laying mines and patroling with submarine packs.
  </p>
  <p class="header-small">Air Units</p>
  <p>
    Air units cannot attack ground units, and are purely for spotting the enemy. This can help you notice an enemy attack earlier, scout enemy defenses before you charge, or give vision to your artillery. Without air units, you cannot see over mountains or forrest, which can be a major hiderance to using artillery. Even if there are no obsticles, artillery can shoot farther than they can see. By keeping observation balloons near your artillery, you allow them to see far away enemies and make full use of their range.
  </p>
  <p>
    Airplanes cannot see quite as far as balloons, but they can shoot enemy air units. Enemy machine guns, fortresses, and riflemen can shoot air units, so any flights over enemy lines must be brief. By getting several airplanes together (3-5 is recommended), you can often destroy a balloon and get out of there before losing a plane. Until the enemy replaces the balloon, you can take advantage of their lack of vision.
  </p>
</div>
