/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

p
  font-size: 16px
  text-align: justify

.main-column
  padding: 0px !important
  max-width: 1000px !important
  margin-left: auto !important
  margin-right: auto !important

hr
  border: 1px solid #777777

ul
  padding-left: 20px

//--HEADER
.header 
  background-color: #f0f0f0 
  text-align: center 
  padding: 0px
  margin: 0px
  border-radius: 15px
  border-top-left-radius: 0px
  border-top-right-radius: 0px
  border: 2px solid #777777
  border-top: 0px

.header-large
  font-family: "Trebuchet MS", Helvetica, sans-serif
  color: white
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black,
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black,
  text-align: left
  font-weight: 900 
  font-size: 60px
  white-space: nowrap
  margin-top: 65px
  margin-left: 10px

.icon-container
  padding: 0
  padding-bottom: 10px
  padding-top: 5px

.header-links 
  margin: 0px
  padding: 0px
  font-size: 20px

.header-link
  border-left-style: solid
  border-color: #777777
  border-width: 2px

.header-link:hover
    background-color: aliceblue
    cursor: pointer

.header-link-last
  border-right-style: solid


.header-links div 
  padding-top: 5px
  padding-bottom: 5px

.header-hr
  margin: 0px
  padding: 0px

//--Body

.card
  background-color: #f0f0f0
  border-radius: 15px
  margin-top: 10px
  border: 2px solid #777777
  margin-bottom: 200px

//--Units

.page-content-home
  margin: 15px !important
  margin-left: 100px !important
  margin-right: 100px !important

.unit-portrait>img
  max-width: 100% !important
  max-height: 100% !important
  border-style: solid
  border: solid #000
  border-color: #777777 !important
  margin-left: 10px

.unit-ul
  padding-left: 20px

.minimap
  width: 100%
  display: block
  border: solid
  border-color: black
  margin: auto
  margin-bottom: 7px
  border-radius: 3px

.map-section
  border-radius: 3px
  background: #999999
  padding: 15px
  padding-bottom: 0px
  padding-left: 0px
  margin: 15px

.minimap-sidebar
  margin-left: 0px

.minimap-sidebar>ul>li
  font-weight: bold
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black
  letter-spacing: 2px
  font-size: 16px
  list-style-type: none
  line-height: 180%
  text-align: center
  white-space: nowrap

.no-padding
  padding: 0

.no-margin
  margin: 0

.team-heading
  margin-left: 10px
  text-align: center
  font-size: 16px
  color: black
  font-weight: bold

.minimap-sidebar>ul
  padding-left: 0

.minimap-sidebar>p
  margin-left: 0

.header-small
  font-size: 18px
  font-weight: bold

.header-medium
  font-size: 26px
  font-weight: bold
  display: inline-block