<div class="page-content-home">
  <h3 class=" home-title home-title-first text-center">Introduction</h3><br>
  <p>
  Risk: World War 1 is a total conversion mod for Starcraft 2, where the map consists of Europe and North Africa. Each player chooses from 9 possible nations, and fights with their allies to win the war. There are two teams, the <strong>Entente</strong> and the <strong>Central Powers</strong>. Your team is decided by which nation you choose, and cannot be changed.
  </p>
  <div class="">
    <div class="row map-section">
      <div class="col-xs-3 no-padding">
        <div class="minimap-sidebar">
          <p style="margin-top:50px" class="team-heading">Entente</p>
          <hr style="width:80%; margin-top:0; margin-bottom:5px">
          <ul>
            <li style="color: #e5090d">Britain</li>
            <li style="color:#1244b0">France</li>
            <li style="color:#450e61">Russia</li>
            <li style="color:#0f5600">Italy</li>
            <li style="color:#371e0d">Serbia</li>
          </ul>
          <p style="margin-top:40px" class="team-heading">Central Powers</p>
          <hr style="width:80%; margin-top:0; margin-bottom:5px">
          <ul>
            <li style="color: #1d1f1a">Germany</li>
            <li style="color:hotpink">Austria</li>
            <li style="color:yellow">Ottoman Empire</li>
            <li style="color:orange">Bulgaria</li>
          </ul>
        </div>
      </div>
      <div style="padding-left:0px; padding-right:0px" class="col-xs-9">

        <%= (image_tag asset_path("minimap.jpg"), :class => "minimap align-center") %>
        <p style="text-align:center; color:black">The minimap at the start of the game</p>
      </div>
    </div>
  </div>

  <br>

  <h3 class=" home-title text-center">Settlements and Income</h3><br>
  <p>
  Scattered accross the map are 4 types of Settlements, Capitol Cities, Cities, Towns, and Ports. Each Settlement has defenses (health) and population (energy). Killing an enemy Settlement will capture it for you, and restore it defenses to full, but also kill off the entire population (it will recover slowly). At the end of every month (1 min) each player recieves income equal to their total population. Capuring and holding Settlements is the only way to increase income.</p>
  <br>

  <h3 class=" home-title text-center">Victory Conditions</h3><br>
  <p>
  Each team has a Warscore, a number at the top of their screen that tells them how well their team is doing. Warscore starts at 50, and goes up when your team gains more income, or when the enemy team loses income. Reaching 100 Warscore results in victory for your team, while 0 Warescore results in defeat.</p>
  <br>

  <h3 class=" home-title text-center">How to play</h3><br>
  <h4>Tech Tree</h4>
  <p>
  You can train workers from any land settlement (towns, cities, capitols). Your worker can build all your structures, including the baracks and factory. From the barracks you can train infantry units: workers, riflemen, mortars, and machine guns. From the factory you can train three types of artillery: field guns, howitzers, and railway guns; as well as tanks, airplanes, and observation balloons.
  </p>
  <h4>Healing</h4>
  <p>
    Infantry units are healed at a hospital, factory units are repaired at a machine shop, and structures auto-repair, although trenches only auto-repair when they are occupied. All naval units are built at the port, and they can can also repair at the port.
  </p>
  <h4>Research</h4>
  <p>
    One of your starting buildings is the Research Center. From here you can research various upgrades for your units and structures. One of the upgrades, Lessons of War, can't be upgraded until 1916, and is required before you can research several others.
  </p>
  <h4>Combat</h4>
  <p>
  When attacking, there are two general strategies, the <strong>rush</strong>, and the <strong>grind</strong>. The rush uses a mobile army to drive quickly through enemy defenses, and capture large amounts of territory. The grind uses long range units to destroy enemy defenses from afar, advancing slowly but safely. The goal is to rush wherever your opponent is weak, but if they are too well defended, and a rush would result in severe losses, you can be forced into a grind.
  </p>
  <h4>The Rush (attacking)</h4>
  <p>You can rush with mass riflemen, using their fast speed and decent damage to punch through enemy defenses, taking as much land as possible. It's useful to bring machine guns and field guns also, to protect against enemy counter attacks. It is important to recognize when the enemy is too well defended for you to continue your rush.
  </p>

  <p>
  Once you have researched tanks, you can use them to lead the rush. Tanks have too little damage to be useful on their own, but they are excellent for absorbing field gun and machine gun fire, thus protecting your advancing infantry from harm.
  </p>
  <h4>The Rush (defending)</h4>
  <P>
    When defending a rush, it is important you have lots of trenches near the front. The goal is to kill as many enemy units, as fast as possible, so having machine guns and field guns is very helpful. Enemy infantry can get in your empty trenches, so if you have some empty ones, salvage them. When the enemy attacks your line, spawn militia from your nearby cities, and counter-attack. Against small numbers of machine guns, machine guns are the most effective defense. Against large numbers however, field guns can make full use of their splash damage, and are the best choice.
  </P>
  <h4>The Grind (attacking)</h4>
  <p>
  Sometimes your opponent has hardened their defenses, such that a rush would be suicide. In this case, you can grind them down, using mortars, howitzers and railways guns to destroy enemy defenses from afar. Since these units are very weak vs infanty, they should be protected by machine guns or field guns.
  </p>
  <h4>The Grind (defending)</h4>
  <p>
  When defending the grind, its best to have loosely spaced trenches, with lots of riflemen. Since the enemy is destroying your trenches from afar, there is no point investing in machine guns. The goal is to slow down the enemy advance as much as possible, and use your own artillery to destroy enemy artillery wherever possible. If your opponent's artillery or mortars are ever left vulnerable, be ready to charge and destroy them with riflemen. When an enemy howitzer attacks your trench, evacuate the unit before the trench is destroyed, and bring it to a hospital to heal.
  </p>
  <br>
</div>

