<div class="page-content-home">
  <p class="header-medium">Introduction</p>
  <p>
  Risk: World War 1 is a total conversion mod for Starcraft 2, where the map consists of Europe and North Africa. Each player chooses from 9 possible nations, and fights with their allies to win the war. There are two teams, the <strong>Entente</strong> and the <strong>Central Powers</strong>. Your team is decided by which nation you choose, and cannot be changed.
  </p>
  <div class="">
    <div class="row map-section">
      <div class="col-xs-3 no-padding">
        <div class="minimap-sidebar">
          <p style="margin-top:50px" class="team-heading">Entente</p>
          <hr style="width:80%; margin-top:0; margin-bottom:5px">
          <ul>
            <li style="color: #e5090d">Britain</li>
            <li style="color:#1244b0">France</li>
            <li style="color:#450e61">Russia</li>
            <li style="color:#0f5600">Italy</li>
            <li style="color:#371e0d">Serbia</li>
          </ul>
          <p style="margin-top:40px" class="team-heading">Central Powers</p>
          <hr style="width:80%; margin-top:0; margin-bottom:5px">
          <ul>
            <li style="color: #1d1f1a">Germany</li>
            <li style="color:hotpink">Austria</li>
            <li style="color:yellow">Ottoman Empire</li>
            <li style="color:orange">Bulgaria</li>
          </ul>
        </div>
      </div>
      <div style="padding-left:0px; padding-right:0px" class="col-xs-9">

        <%= (image_tag asset_path("minimap.jpg"), :class => "minimap align-center") %>
        <p style="text-align:center; color:black">The minimap at the start of the game</p>
      </div>
    </div>
  </div>

  <br>

  <p class="header-small">Settlements and Income</p>
  <p>
  Scattered accross the map are 4 types of settlements, Capitols, Cities, Towns, and Ports. Each Settlement has defenses (health) and population (energy). Killing an enemy settlement will capture it for you, and restore it defenses to full, but also kill off the entire population (it will recover slowly). At the end of every month (1 min) each player recieves income equal to their total population. Capuring and holding Settlements is the only way to increase income.</p>
  <p class="header-small">Victory Conditions</p>
  <p>
  Each team has a Warscore, a number at the top of the screen that tells them how well their team is doing. Warscore starts at 50, and goes up when your team gains more income, or when the enemy team loses income. Reaching 100 Warscore results in victory for your team, while 0 Warescore results in defeat.
  </p>
  <p class="header-small">Tech Tree</p>
  <p>
    You can train workers from any land settlement (towns, cities, capitols), or from a barracks. Your worker can build all your structures, including the barracks and factory.
  </p>
  <ul>
    <li>Barracks can train infantry units: workers, riflemen, mortars, and machine guns.</li>
    <li>Factory can train three types of artillery: field guns, howitzers, and railway guns; as well as tanks, airplanes, and observation balloons.</li>
    <li>Ports can train naval units: Battleships, Destroyers, Sumbarines, Mines, and Transports.</li>
  </ul>
  <p class="header-small">Healing</p>
  <p>
    Infantry units are healed at a hospital, factory units are repaired at a machine shop, and structures auto-repair, although trenches only auto-repair when they are occupied. All naval units are repaired at the port. All units and structures can only heal once they are out of combat for 12 seconds.
  </p>
  <p class="header-small">Research</p>
  <p>
    One of your starting buildings is the Research Center. From there you can research various upgrades for your units and structures. One of the upgrades, Lessons of War, can't be upgraded until 1915, and is required before you can research several others.
  </p>
</div>

