<div class="page-content-home">
  <h3 class=" unit-title text-center">Intro</h3><br>
  <p>
  Risk: World War 1 is a total conversion mod for Starcraft 2, where the map consists of Europe and North Africa. Each player chooses from 9 possible nations, and fights with their allies to conquer land and win the war. Teams are based upon which nation you chose and cannot be changed.
  </p>
  <ul>
    <li><strong>The Entente:</strong> France (blue), Russia (purple), Britain (red), Italy (green), and Serbia (brown)</li>
    <li><strong>The Central Powers:</strong> Germany (black), Austria (pink), Bulgaria (orange), and the Ottomans (yellow)</li>
  </ul>
  <p>IMAGE OF MAP</p>
  <br>

  <h3 class=" unit-title text-center">Settlements and Income</h3><br>
  <p>
  Scattered accross the map are 4 types of Settlements, Capitol Cities, Cities, Towns, and Ports. Each Settlement has defenses (health) and population (energy). Killing an enemy Settlement will capture it for you, and restore it defenses to full, but also kill off the entire population (it will recover slowly). At the end of every month (1 min) each player recieves income equal to their total population. Capuring and holding Settlements is the only way to increase income.</p>
  <br>

  <h3 class=" unit-title text-center">Victory Conditions</h3><br>
  <p>
  Each team has a Warscore, a number at the top of their screen that tells them how well their team is doing. Warscore starts at 50, and goes up when your team gains more income, or when the enemy team loses income. Reaching 100 Warscore results in victory for your team, while 0 Warescore results in defeat.</p>
  <br>

  <h3 class=" unit-title text-center">How to play</h3><br>
  <p>
  The goal of the game is to capture settlements, and for that you need an army. With your starting baracks, you can train infantry units: workers, riflemen, mortars, and machine guns. You can use a worker to build a factory, which can train field guns, howitzers, railway guns, tanks, airplanes, and balloons.
  </p>
  <p>
  </p>
  <p>
  When <strong>attacking</strong>, there are two general strategies. You can <strong>rush</strong> with mass riflemen, using their fast speed and decent damage to punch through enemy defenses, taking as much land as possible. It is useful to bring machine guns and field guns along also, to protect against enemy counter attacks. It is important to recognize when the enemy is too well defended for you to keep attacking. When this happens, order some infantry to dig trenches along your new borders.
  </p>
  <p>
  Once you have researched tanks, you can use them to lead the rush. Tanks have too little damage to be useful on their own, but they are excellent for absorbing field gun and machine gun fire, thus protecting your advancing infantry from harm.
  </p>
  <p>
  Sometimes your opponent has hardened their defenses, such that a rush would be suicide. In this case, you can <strong>grind</strong> them down, using mortars, howitzers and railways guns to destroy enemy defenses from afar. Since these units are very weak vs infanty, they must be protected with machine guns or field guns. The grind is a safer way to attack than rushing, but it is much slower.
  </p>
  <P>
  When <strong>defending a rush</strong>, it is important you have lots of trenches near the front and that they all are occupied. Enemy units can get in your empty trenches, so if you cannot fill them, salvage them. When the enemy attacks your line, spawn militia from your nearby cities, and counter-attack. Against a small infantry army, machine guns in trenches are the most effective defense. Against large infantry armies however, field guns can make full use of their splash damage, and are the best choice.
  </P>
  <p>
  When <strong>defending a grind</strong>, its best to have loosely spaced trenches, with lots of riflemen. If you are being attacked by mortars, use field guns to keep them away. If you are being attacked by howitzers, try to snipe them with your infantry. If the its too well defended to attack with infantry, your best option is to get your own howitzers. Always try to focus fire your howitzers to attack enemy artillery first. When an enemy howitzer attacks your trench, evacuate the occupant before the trench is destroyed, and bring it back to a hospital to heal. Once it has healed, send it back to the front to dig new trenches, slowing the enemy advance.
  </p>
  <br>

  <h3 class=" unit-title text-center">Trench Warfare</h3><br>
  <p>Being based on WW1, this game revolves around trenches. All infantry units can build trenches, and they will automatically get in once finished. Whenever you take land from an opponent, building trenches there will help defend against counterattacks. One important note is that units inside trenches are not safe from all harm, they are still vulnerable to bayonets (from riflemen), high-explosives (from mortars, howitzers, railway guns, battleships), and gas-attacks (from howitzers).</p>
</div>

