<div class="page-content page-content-main">
  <h1 class="text-center page-title">Basics</h1>
  <hr class="cardtop-hr">
  <h3 class=" unit-title">What is it?</h3><br>
  <p>Risk: World War 1 is a total conversion mod for Starcraft 2. The map consists of Europe and Northern Africa, and players start by choosing one of 9 possible nations. The first team is the Entente (sometimes called the Allies) and consists of France, Russia, Britain, Italy, and Serbia. The second team is the Central Powers, and consists of Germany, Austria-Hungary, Bulgaria, and the Ottoman Empire. There are also neutral nations, which cannot be player controlled, and will always defend themselves when attacked.</p>
  <p>IMAGE OF MAP</p>
  <h3 class=" unit-title">Settlements and Income</h3><br>
  <p>Scattered accross the map are 4 types of settlement, Capitols, Cities, Towns, and Ports. Each settlemen has health and population (energy). Players can capture settlements by killing them. Recently captured settlements lose all their population, and recover slowly while out of combat. At the end of every month (about 1 min) each players recieves income equal to their total population.</p>
  <h3 class=" unit-title">How to Win</h3><br>
  <p>Each team has a Warscore, a number at the top of their screen that tells them how well they are doing. Warscore starts at 50, and goes up when your team gains more income, or when the enemy loses income. Reaching 100 Warscore results in victory for your team while 0 Warescore results in defeat.</p>
  <h3 class=" unit-title">Trench Warfare</h3><br>
  <p>Being based on WW1, this game revolves around trenches. All infantry units can build trenches, and they will automatically get in once finished. Whenever you take land from an opponent, building trenches there will help defend against counterattacks. One important note is that units inside trenches are not safe from all harm, they are still vulnerable to bayonets (from riflemen), high-explosives (from mortars, howitzers, railway guns, battleships), and gas-attacks (from howitzers).</p>
</div>
